{% extends 'base.html.twig' %}

{% block title %}Edit Ad{% endblock %}

{% block body %}
    <h1>Edit Ad</h1>

    {{ include('ad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ad_index') }}">back to list</a>

    {{ include('ad/_delete_form.html.twig') }}
{% endblock %}
