{% extends 'base.html.twig' %}

{% block title %}Créer une annonce - THE MARKET{% endblock %}

{% block body %}
    <div class="h-75 d-flex flex-column justify-content-center">
        <h1 class="text-center py-3">Déposer une annonce</h1>

        <div class="row">
            <div class="col-4 mx-auto">

                {{ include('ad/_form.html.twig', {'button_label': 'Publier mon annonce'}) }}

                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_ad_index') }}" class="btn btn-link rounded-0">back to list</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
