{% extends 'base.html.twig' %}

{% block body %}
    <div class="col">
        <h1>Modification d'utilisateur</h1>
        <form action="{{ path('app_user_update_api', { email: user.email }) }}" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-class">Prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName">
            </div>
            <div class="mb-3">
                <label for="name" class="form-class">Nom</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-class">Adresse Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-class">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
{% endblock %}