{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>
      .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
      }

      .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
      }
    </style>

    <div class="mx-4">
        <h1 class="font-medium">Titre</h1>
        <nav>
            <ul class="d-flex">
                <li>
                    <a class='font-normal' href="#">Voir toutes les annonces</a>
                </li>
                <li>
                    <a class='font-normal font-medium' href="#">+ déposer une annonce</a>
                </li>
                <li>
                    <a class='font-normal' href="#">Voir toutes les annonces</a>
                </li>
                <li>
                    <a class='font-normal' href="#">Voir toutes les annonces</a>
                </li>
                <li>
                    <a class='font-normal' href="#">Voir toutes les annonces</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
