<div>
    <nav>
        <ul class="alignement_footer">
            <li class="puces">
                <a class='font-normal soulignement couleur' href="#">Contact</a>
            </li>
            <li class="puces">
                <a class='font-normal soulignement couleur' href="#">Qui-sommes-nous ?</a>
            </li>
            <li class="puces">
                <a class='font-normal soulignement couleur' href="#">RGPD</a>
            </li>
            <li class="puces">
                <a class='font-normal soulignement couleur' href="#">Mentions légales</a>
            </li>
        </ul>
    </nav>
</div>