<footer class="border-top border-dark mt-4 py-3">
    <nav class="d-flex justify-content-between">
        <a class="link-secondary" href="https://github.com/MisterAzix/hetic-leboncoin-symfony">Contact</a>
        <ul class="d-flex justify-content-space-between list-unstyled gap-3">
            <li>
                <a class='link-secondary' href="https://github.com/MisterAzix/hetic-leboncoin-symfony#copyrights-">Qui-sommes-nous ?</a>
            </li>
            <li>
                <a class='link-secondary' href="THE_MARKET_Mentions_Légales.pdf">Mentions légales</a>
            </li>
        </ul>
    </nav>
</footer>