<form action="{{ path('app_ad_search') }}" class="search-bar w-50 mx-auto d-flex">
	<input class="form-control me-2" type="search" name="s" placeholder="Rechercher..." aria-label="Search">
	<button class="btn btn-outline-dark" type="submit">Rechercher</button>
</form>
