<form action="{{ path('app_ad_popular') }}" class="search-bar w-100 mx-auto d-flex">
    <input class="form-control me-2" type="search" name="q" placeholder="Rechercher..."
           aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Rechercher</button>
</form>