{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    <nav>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}
    </nav>
{% endblock %}
