{% extends 'base.html.twig' %}

{% block title %}
    Le formulaire pour créer une annonce
{% endblock %}

{% block body %}
    <div>

        <h1>Formulaire annonce</h1>
        <h1>userid {{ userId}}</h1>

    </div>
{% endblock %}