{% extends 'base.html.twig' %}

{% block title %}
    Les réponse populaire
{% endblock %}

{% block body %}
    {# Formulaire de connexion #}
    <form method="post" >
        <input name="email" placehorder="Email..." class="form-control">
    </form>

{% endblock %}
