{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <h1>Edit Tag</h1>

    {{ include('tag_controllee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tag_controllee_index') }}">back to list</a>

    {{ include('tag_controllee/_delete_form.html.twig') }}
{% endblock %}
